/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #827567;
    line-height: 1.6;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    font-size: 1.8em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    font-weight: 600;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #555;
    color: #827567;
    outline: none;
}

nav ul li a.active {
    background-color: #827567;
    color: #333;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

section ul {
    list-style: disc inside;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffd700;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Quiz Styles */
#quiz {
    margin-top: 20px;
}

#quiz form p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

#quiz form input[type="radio"] {
    margin-right: 10px;
}

#quiz form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#quiz form button:hover {
    background-color: #555;
}

#quiz #result {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

/* Image Styling */
section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
